
@media screen and (min-width:3500px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 50px;
        --elem-size: 250px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:2500px) and (max-width:3500px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 30px;
        --elem-size: 125px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:1500px) and (max-width:2500px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 20px;
        --elem-size: 100px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:1400px)and (max-width:1500px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 12px;
        --elem-size: 60px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:1100px)and (max-width:1400px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 10px;
        --elem-size: 55px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:900px)and (max-width:1100px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 10px;
        --elem-size: 50px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:700px)and (max-width:900px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 8px;
        --elem-size: 40px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:500px)and (max-width:700px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 7px;
        --elem-size: 35px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:300px)and (max-width:500px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 5px;
        --elem-size: 30px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:200px)and (max-width:300px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 4px;
        --elem-size: 25px;
        font-size:var(--text-size);
    
    }
}
body{
    width: 100%;
    margin:0px;
}
.header-container{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    box-shadow: 0px -5px 5px -5px rgba(28, 45, 58, 0.6) inset;
    height:calc(var(--elem-size));
}
.icon{
    width:15%;
    display: flex;
    flex-flow:row;
    justify-content: center;
    height: 95%;
}
.navigation-container{
    display: flex;
    flex-flow:row;
    justify-content: center;
    width:40%;
}
.navigation-container i{
    font-size: calc(var(--text-size)*1.25);
}
.navigation{
    display:flex;
    flex-flow:row;
    width: 65%;

}
.navigation div{
    display:flex;
    flex-flow:column;
    justify-content: space-around;
    height: 95%;
}
.navigation a{
    width: 20%;
    text-decoration: none;
}
.navigation i{
    color:gray;
    text-align: center;
    margin: 0;
}
.navigation p{
    color:gray;
    text-align: center;
    margin: 0;
}
.navigation div:hover{
    border-bottom: calc(var(--elem-size)*0.05) px solid rgb(240, 158, 36);
}
.navigation div:hover i{
    color:rgb(240, 158, 36);
}
.contacts{
    width:20%;
    display: flex;
    flex-flow:column;
    justify-content: center;
}

.phonebtn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width:100%;
    margin:0;
    border-radius: calc(var(--elem-size)*0.2);
    border:0;
    background-color: rgb(240, 158, 36);
    color:white;
}
.phonebtn p{
    margin:auto;
    font-size:calc(var(--text-size)*0.8)
}
.phonebtn i{
    font-size:calc(var(--text-size)*0.8);
    margin:auto;
}
.phonebtn:hover{
    box-shadow: 0px 1px 5px 3px rgba(228, 177, 10, 0.6);
}
.phonebtn div{
    display: flex;
    flex-flow: row;
    text-align: center;
}
.contacts-container{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    height:40%;
    width:70%;
}
.contacts-container i{
    color:gray;
    text-align: center;
}
.contact-icons{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    width:25%;
    padding-top:5%;
}
.footerContainer{
    background-color:rgb(240, 158, 36);
    height:calc(var(--elem-size)*2);
    display: flex;
    flex-flow:row;
    flex-direction: flex-start;
}
.iconContainer{
    width:30%;
    height:100%;
    display: flex;
    flex-flow:column;
    justify-content: center;
}
.iconFooter{
    display: flex;
    flex-flow:row;
    justify-content: center;
    width:30%;
}
.image{
    height:50%;
    width:90%;
    background-color:rgb(240, 158, 36); ;
}
.menu ul{
    list-style-type: none;
    padding: 0;;
    margin-top:0;
}
.menu h2{
    color:white;
    font-size: calc(var(--text-size)*1.3);
    margin-bottom: calc(var(--elem-size)*0.05);
}
.menuList li{
    margin-top:calc(var(--elem-size)*0.05);;
    margin-bottom: calc(var(--elem-size)*0.05);;
    color:white;
    font-size: calc(var(--text-size)*0.8);;
}
.menuList li:hover{
    font-weight: 800;
}
.menu{
    width: 30%;
}
.footerNavigation{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    width: 40%;
}
.MeetChefs ul{
    list-style-type: none;
    padding: 0;;
    margin-top:0;
}
.MeetChefs h2{
    color:white;
    font-size: calc(var(--text-size)*1.3);
    margin-bottom:calc(var(--elem-size)*0.05);
}
.MeetChefs{
    width: 30%;
}
.SocialMedia{
    width:30%;
}
.SocialMedia h2{
    color:white;
    font-size:calc(var(--text-size)*1.3);
    margin-bottom:calc(var(--elem-size)*0.05);
}
.SocialMedia ul{
    list-style-type:none;
    padding:0;
    margin-top:0;

}
.menuMain{
    height:calc(var(--elem-size)*5);
    background-image: url(contactUs2.jpg);
    display: flex;
    flex-flow:column;
    justify-content: center;
    text-align: center;
    color:white;
    font-size: calc(var(--text-size)*2.25);;
}
.Menu{
    height: auto;
    margin-top: calc(var(--elem-size)*0.2);
    margin-bottom: calc(var(--elem-size)*0.2);
}
.Menu h2{
    margin-left: 30%;;
    margin-bottom: 2px;
    font-size: calc(var(--text-size)*1.75);
    font-weight: 700;
}
.Menu-container{
    display: flex;
    flex-flow:row;
    justify-content: space-around;
}
.left-side{
    width:20%;
    height:calc(var(--elem-size)*14);
    border-radius: calc(var(--elem-size)*0.3);
    border:solid 2px rgb(240, 158, 36); ;;
    display: flex;
    flex-flow:column;
    text-align: left;
    margin-top: calc(var(--elem-size)*0.3);
}
.left-side h3{
    font-size: calc(var(--text-size)*1.3);
    padding: calc(var(--elem-size)*0.2);
    font-weight: 700;
    margin-bottom: 0px;
}
.propertyItem{
    display: flex;
    flex-flow:column;
}
.CheckBox{
    display: flex;
    flex-flow:row;
    padding-left:calc(var(--elem-size)*0.2);
    align-items: center;
}
.CheckBox p{
    font-size: calc(var(--text-size));
    font-weight: 500;
    margin-left:5px;
}
.CheckBox input{
    width: calc(var(--elem-size)*0.2);
    height:  calc(var(--elem-size)*0.2);
}
.right-side{
    width:70%;
    display: flex;
    flex-flow: column;
}
.menuItems{
    display: flex;
    flex-flow:wrap;
    justify-content: space-around;
}
.menuItem{
    width:42%;
    padding: calc(var(--elem-size)*0.3);;
    border-radius: calc(var(--elem-size)*0.3);
    box-shadow: 0px 1px 5px 3px rgba(228, 177, 10, 0.6);
    height:calc(var(--elem-size)*2);
    margin-top:calc(var(--elem-size)*0.3);
    margin-bottom:calc(var(--elem-size)*0.2);
    display: flex;
    flex-flow:row;
    justify-content: space-between;;
    background-color:rgba(253, 198, 117, 0.185); ;
}
.menuItem-img{
    display: flex;
    border-radius: 50%;
    width: calc(var(--elem-size)*1.3);
    height: calc(var(--elem-size)*1.3);
}
.menuItem-text{
    display: flex;
    flex-flow:column;
    width: calc(96% - (var(--elem-size)*1.3));
}
.menuItem-text p{
    font-size: calc(var(--text-size)*1.25);
    color:gray;
    font-weight: 500;
}
.cost{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
}
.cost span{
    font-size: calc(var(--text-size)*1.5);
    font-weight: 700;
    color:rgb(47, 201, 78);
}
.cost h3{
    font-size:calc(var(--text-size)*1.5);
    font-weight: 700;
    margin: 0px;;
}
.addbtn{
    border-radius: calc(var(--elem-size)*0.2);
    border: none;
    color: white;
    width:50%;
    background-color: rgb(240, 158, 36);
    text-align: center;
    font-weight: 700;
    padding: calc(var(--elem-size)*0.1);
    font-size: calc(var(--text-size)*0.9);
    transition: 0.5s linear;
}
.addbtn:hover{
    box-shadow: 0px 1px 5px 3px rgba(228, 177, 10, 0.6);
    color:rgb(240, 158, 36);
    background-color: white;
}
.propertyBtn{
    border-radius: calc(var(--elem-size)*0.2);
    border: none;
    color: white;
    width:50%;
    background-color: rgb(240, 158, 36);
    text-align: center;
    font-weight: 700;
    padding:  calc(var(--elem-size)*0.1);
    font-size:  calc(var(--text-size)*0.9);
    transition: 0.5s linear;
    margin:auto;
}
.propertyBtn:hover{
    box-shadow: 0px 1px 5px 3px rgba(228, 177, 10, 0.6);
    color:rgb(240, 158, 36);
    background-color: white;
}

.listButtons{
    display: flex;
    flex-flow:row;
    justify-content: center;
    text-align: center;
    padding: auto;;
}
.prev-nextBtn{
    border:none;;
    color:black;
    background-color: white;
    text-align: center;
    width:13%;
    font-weight: 600;
    padding: calc(var(--elem-size)*0.1);
    font-size:calc(var(--text-size)*1.3);;
    box-shadow: 0px 1px 5px 3px rgba(228, 177, 10, 0.6);
    margin: calc(var(--elem-size)*0.15);;
    transition: linear 0.5s;
}
.numberBtn{
    border:none;;
    color:black;
    background-color: white;
    text-align: center;
    width:4%;
    font-weight: 600;
    font-size: calc(var(--text-size)*1.3);;
    box-shadow: 0px 1px 5px 3px rgba(228, 177, 10, 0.6);
    margin:calc(var(--elem-size)*0.15);;
    transition: linear 0.5s;
}
.dotBtn{
    border:none;;
    color:black;
    background-color: rgb(245, 243, 240);;
    text-align: center;
    width:4%;
    font-weight: 600;
    padding: calc(var(--elem-size)*0.1);
    font-size:calc(var(--text-size)*1.3);;
    box-shadow: 0px 1px 5px 3px rgba(228, 177, 10, 0.6);
    margin:calc(var(--elem-size)*0.15);;
    transition: linear 0.5s;
}
.listButtons button:hover{
    background-color:rgb(240, 158, 36); ;
    color:white;
}