@media screen and (min-width:3500px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 50px;
        --elem-size: 250px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:2500px) and (max-width:3500px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 30px;
        --elem-size: 125px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:1500px) and (max-width:2500px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 20px;
        --elem-size: 100px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:1400px)and (max-width:1500px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 12px;
        --elem-size: 60px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:1100px)and (max-width:1400px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 10px;
        --elem-size: 55px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:900px)and (max-width:1100px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 10px;
        --elem-size: 50px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:700px)and (max-width:900px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 8px;
        --elem-size: 40px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:500px)and (max-width:700px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 7px;
        --elem-size: 35px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:300px)and (max-width:500px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 5px;
        --elem-size: 30px;
        font-size:var(--text-size);
    
    }
}
@media screen and (min-width:200px)and (max-width:300px){
    body{
        margin:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        --text-size: 4px;
        --elem-size: 25px;
        font-size:var(--text-size);
    
    }
}
body{
    width: 100%;
    margin:0px;
}
.header-container{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    box-shadow: 0px -5px 5px -5px rgba(28, 45, 58, 0.6) inset;
    height:calc(var(--elem-size));
}
.icon{
    width:15%;
    display: flex;
    flex-flow:row;
    justify-content: center;
    height: 95%;
}
.navigation-container{
    display: flex;
    flex-flow:row;
    justify-content: center;
    width:40%;
}
.navigation-container i{
    font-size: calc(var(--text-size)*1.25);
}
.navigation{
    display:flex;
    flex-flow:row;
    width: 65%;

}
.navigation div{
    display:flex;
    flex-flow:column;
    justify-content: space-around;
    height: 95%;
}
.navigation a{
    width: 20%;
    text-decoration: none;
}
.navigation i{
    color:gray;
    text-align: center;
    margin: 0;
}
.navigation p{
    color:gray;
    text-align: center;
    margin: 0;
}
.navigation div:hover{
    border-bottom: calc(var(--elem-size)*0.05) px solid rgb(240, 158, 36);
}
.navigation div:hover i{
    color:rgb(240, 158, 36);
}
.contacts{
    width:20%;
    display: flex;
    flex-flow:column;
    justify-content: center;
}

.phonebtn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width:100%;
    margin:0;
    border-radius: calc(var(--elem-size)*0.2);
    border:0;
    background-color: rgb(240, 158, 36);
    color:white;
}
.phonebtn p{
    margin:auto;
    font-size:calc(var(--text-size)*0.8)
}
.phonebtn i{
    font-size:calc(var(--text-size)*0.8);
    margin:auto;
}
.phonebtn:hover{
    box-shadow: 0px 1px 5px 3px rgba(228, 177, 10, 0.6);
}
.phonebtn div{
    display: flex;
    flex-flow: row;
    text-align: center;
}
.contacts-container{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    height:40%;
    width:70%;
}
.contacts-container i{
    color:gray;
    text-align: center;
}
.contact-icons{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    width:25%;
    padding-top:5%;
}
.readMoreSection{
    height:calc(var(--elem-size)*5);
    background-image: url(mainfood.jpg);
    display: flex;
    flex-flow:column;
    justify-content: end;
}
.readMoreSection div{
    text-align: center;
    color:white;
    height: 50%;
}
.readMoreSection h1{
    font-size:calc(var(--text-size)*2.5);
    margin-top:0;
}
.readMoreSection p{
    font-size:18px;
}
.readMoreSection button{
    font-size:calc(var(--text-size)*0.85);
    width:13%;
    padding-top:calc(var(--elem-size)*0.1);
    padding-bottom: calc(var(--elem-size)*0.1);
    border-radius: calc(var(--elem-size)*0.2);
    border:none;
    color: white;
    background-color:rgb(240, 158, 36); ;
}
.readMoreSection button:hover{
    box-shadow: 0px 1px 5px 3px rgba(228, 177, 10, 0.6);
    font-size: calc(var(--text-size)*0.8);
    font-weight: 600;
}
.foodTypes{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-auto-rows: calc(var(--elem-size)*1.2);
    width: 90%;
    margin: auto;
    height:calc(var(--elem-size)*4.8);
   
}
.food-container i{
    text-align: center;
    font-size: calc(var(--text-size)*5);
    padding-left:calc(var(--elem-size)*0.1);;
    padding-top: calc(var(--elem-size)*0.1);
    color:rgb(240, 158, 36); 
}
.food-container{
    height: calc(var(--elem-size)*1.2);
    display: flex;
    flex-flow:row;
    justify-content: space-around;
   
}
.food-container:hover {
    background-color:rgb(240, 158, 36); 
    color:white;
}
.food-container:hover i{
    color:white;
}
.food-container:hover p{
    color:white;
}

.food-container h2{
    font-size: calc(var(--text-size)*1.5);
    margin:0;
}
.food-container p{
    text-align: left;
    font-size: calc(var(--text-size)*0.8);
    color:gray;
}

.foodTypes h1{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: calc(var(--text-size)*2);
}
.foodTypes button{
    grid-column-start: -3;
    grid-column-end: -2;
    grid-row-start: 4;
    grid-row-end:5;
    justify-self: center;
    height: 35%;
    margin-top:10% ;
    font-size:calc(var(--text-size)*0.85);
    width:43%;
    border-radius: calc(var(--elem-size)*0.2);
    border:none;
    color: white;
    background-color:rgb(240, 158, 36); ;
}
.foodTypes button:hover{
    box-shadow: 0px 1px 5px 3px rgba(228, 177, 10, 0.6);
    font-size: calc(var(--text-size)*0.9);
    font-weight: 600;
}
.recipes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;;
    grid-template-rows: calc(var(--elem-size)*1) calc(var(--elem-size)*2) calc(var(--elem-size)*2);;
    width:min-content;
    margin:auto;
    height: calc(var(--elem-size)*6);
}
.recipes h1{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    font-size:calc(var(--text-size)*1.5);
    margin:calc(var(--elem-size)*0.2);
}
.recipe-container{
    background-image: url(photo_2023-02-25_21-43-16.jpg);
    width:calc(var(--elem-size)*2);
    height: calc(var(--elem-size)*2);
    position: relative;

}
.recipe{
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(233, 173, 83, 0.471);
}
.recipe-container:hover div{
    visibility: visible;
}
.recipe-container button{
    width: 20%;
    height: 20%;
    visibility: hidden;
    position: absolute;
    top:40%;
    left:40%;
    font-size: calc(var(--text-size)*1.75);
    border-radius: calc(var(--elem-size)*0.3);
    border:none;
    color:white;
    background-color: rgb(240, 158, 36);
}
.recipe-container button:hover{
    box-shadow: 0px 1px 5px 3px rgba(228, 177, 10, 0.6);
}
.recipe-container:hover button {
    visibility: visible;
}
.line{

    width:80%;
    border-bottom:1px solid rgba(173, 169, 169, 0.701);
    margin: auto;
}

.footerContainer{
    background-color:rgb(240, 158, 36);
    height:calc(var(--elem-size)*2);
    display: flex;
    flex-flow:row;
    flex-direction: flex-start;
}
.iconContainer{
    width:30%;
    height:100%;
    display: flex;
    flex-flow:column;
    justify-content: center;
}
.iconFooter{
    display: flex;
    flex-flow:row;
    justify-content: center;
    width:30%;
}
.image{
    height:50%;
    width:90%;
    background-color:rgb(240, 158, 36); ;
}
.menu ul{
    list-style-type: none;
    padding: 0;;
    margin-top:0;
}
.menu h2{
    color:white;
    font-size: calc(var(--text-size)*1.3);
    margin-bottom: calc(var(--elem-size)*0.05);
}
.menuList li{
    margin-top:calc(var(--elem-size)*0.05);;
    margin-bottom: calc(var(--elem-size)*0.05);;
    color:white;
    font-size: calc(var(--text-size)*0.8);;
}
.menuList li:hover{
    font-weight: 800;
}
.menu{
    width: 30%;
}
.footerNavigation{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    width: 40%;
}
.MeetChefs ul{
    list-style-type: none;
    padding: 0;;
    margin-top:0;
}
.MeetChefs h2{
    color:white;
    font-size: calc(var(--text-size)*1.3);
    margin-bottom:calc(var(--elem-size)*0.05);
}
.MeetChefs{
    width: 30%;
}
.SocialMedia{
    width:30%;
}
.SocialMedia h2{
    color:white;
    font-size:calc(var(--text-size)*1.3);
    margin-bottom:calc(var(--elem-size)*0.05);
}
.SocialMedia ul{
    list-style-type:none;
    padding:0;
    margin-top:0;

}
